<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-1-g15f4949  Build Version: 1.6.7594.29634
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="E10-pro_20230227">
  <link
    name="elfin_base_link">
    <inertial>
      <origin
        xyz="-0.00226511349377665 4.35718066723652E-06 0.0325128562537015"
        rpy="0 0 0" />
      <mass
        value="1.66727740473724" />
      <inertia
        ixx="0.004269288474386"
        ixy="6.02518130623891E-08"
        ixz="-6.92087963593712E-05"
        iyy="0.00385585336301628"
        iyz="-5.51423740998797E-08"
        izz="0.0068204473327682" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="./meshes/elfin_base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="./meshes/elfin_base_link.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="elfin_link1">
    <inertial>
      <origin
        xyz="7.61162863471139E-07 -0.00300107309756385 -0.0432743915921637"
        rpy="0 0 0" />
      <mass
        value="6.3589066662676" />
      <inertia
        ixx="0.0391771076676677"
        ixy="5.46819690041348E-08"
        ixz="4.18972540516105E-07"
        iyy="0.0381555138034643"
        iyz="0.00661206821297882"
        izz="0.0211340101406971" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="./meshes/elfin_link1.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="./meshes/elfin_link1.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="elfin_joint1"
    type="revolute">
    <origin
      xyz="0 0 0.26"
      rpy="0 0 0" />
    <parent
      link="elfin_base_link" />
    <child
      link="elfin_link1" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="elfin_link2">
    <inertial>
      <origin
        xyz="-1.29217317440483E-07 0.204406209458582 0.145205671136993"
        rpy="0 0 0" />
      <mass
        value="5.51072381215317" />
      <inertia
        ixx="0.140886684844275"
        ixy="-1.98882818733045E-05"
        ixz="1.28793862225364E-06"
        iyy="0.00904523320332792"
        iyz="0.00556623571013066"
        izz="0.143882970137024" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="./meshes/elfin_link2.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="./meshes/elfin_link2.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="elfin_joint2"
    type="revolute">
    <origin
      xyz="0 0 0"
      rpy="1.5708 0 0" />
    <parent
      link="elfin_link1" />
    <child
      link="elfin_link2" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="elfin_link3">
    <inertial>
      <origin
        xyz="0.0357493010718184 -2.74303937812098E-06 -0.00431107040244649"
        rpy="0 0 0" />
      <mass
        value="3.25128088148268" />
      <inertia
        ixx="0.0071227385015826"
        ixy="4.14573354701168E-07"
        ixz="-0.00240614658407673"
        iyy="0.0131139013038093"
        iyz="-1.5385826183284E-07"
        izz="0.0123861174875263" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="./meshes/elfin_link3.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="./meshes/elfin_link3.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="elfin_joint3"
    type="revolute">
    <origin
      xyz="0 0.48 0.0001"
      rpy="-3.1416 0 1.5708" />
    <parent
      link="elfin_link2" />
    <child
      link="elfin_link3" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="elfin_link4">
    <inertial>
      <origin
        xyz="4.00422619806443E-06 -0.0642407946168694 0.298291714132776"
        rpy="0 0 0" />
      <mass
        value="2.50748550399061" />
      <inertia
        ixx="0.0366678922182935"
        ixy="2.01780639224561E-07"
        ixz="1.74716906310344E-06"
        iyy="0.0331442649385175"
        iyz="0.00878594933101389"
        izz="0.00698385038225708" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="./meshes/elfin_link4.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="./meshes/elfin_link4.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="elfin_joint4"
    type="revolute">
    <origin
      xyz="0 0 0"
      rpy="1.5708 0 1.5708" />
    <parent
      link="elfin_link3" />
    <child
      link="elfin_link4" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="elfin_link5">
    <inertial>
      <origin
        xyz="5.37084468021837E-06 -0.0262437975997385 -0.00343971824098017"
        rpy="0 0 0" />
      <mass
        value="1.39234539037872" />
      <inertia
        ixx="0.0033625821599978"
        ixy="2.21090591006108E-07"
        ixz="-5.59693839842731E-07"
        iyy="0.00182229285631246"
        iyz="0.000639319386824375"
        izz="0.00292731816323284" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="./meshes/elfin_link5.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="./meshes/elfin_link5.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="elfin_joint5"
    type="revolute">
    <origin
      xyz="0 0 0.52"
      rpy="-1.5708 0 0" />
    <parent
      link="elfin_link4" />
    <child
      link="elfin_link5" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="elfin_link6">
    <inertial>
      <origin
        xyz="-0.000223419892434035 -0.000503545919359016 0.155489622216108"
        rpy="0 0 0" />
      <mass
        value="0.119080209337947" />
      <inertia
        ixx="8.08550872901422E-05"
        ixy="-7.46173009805169E-09"
        ixz="2.21279422199851E-07"
        iyy="8.32324966499315E-05"
        iyz="-1.33289933354814E-07"
        izz="0.000151523047618214" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="./meshes/elfin_link6.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="./meshes/elfin_link6.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="elfin_joint6"
    type="revolute">
    <origin
      xyz="0 0 0"
      rpy="1.5708 0 0" />
    <parent
      link="elfin_link5" />
    <child
      link="elfin_link6" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="elfin_end_link">
    <inertial>
      <origin
        xyz="-0.000223419892434032 -0.000503545919359024 -0.0365103777839941"
        rpy="0 0 0" />
      <mass
        value="0.119080209337947" />
      <inertia
        ixx="8.08550872901422E-05"
        ixy="-7.46173009805164E-09"
        ixz="2.21279422199852E-07"
        iyy="8.32324966499315E-05"
        iyz="-1.33289933354814E-07"
        izz="0.000151523047618214" />
    </inertial>
    <!-- <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="./meshes/elfin_end_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual> -->
    <!-- <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="./meshes/elfin_end_link.STL" />
      </geometry>
    </collision> -->
  </link>
  <joint
    name="elfin_end_joint"
    type="fixed">
    <origin
      xyz="0 0 0.192"
      rpy="0 0 0" />
    <parent
      link="elfin_link6" />
    <child
      link="elfin_end_link" />
    <axis
      xyz="0 0 0" />
  </joint>
</robot>